@charset"utf-8";
.dateWrap{
    width:230px;
}
.dateHead{
    border:1px solid #eee;
    height: 35px;
    padding-top:5px;
    padding-left:5px;
}
.dateHead input{
    border:0;
    width:65%;
}
.dateHead input:focus{
    outline: 0;
}
.title{
    text-align: center;
}
.yearAndMonth{
    text-align: center;
}
.table>tbody>tr>td,.table>tfoot>tr>td{
    border-top:0;
}
thead,tbody,tfoot{
    border-left:1px solid #eee;
    border-right:1px solid #eee;
}
.table{
    border: 1px solid #eee;
}
.dateBody{
    display: none;
    box-shadow: 5px 5px 6px #D7D3D3;
}
.point{
    margin-right:6px;
}
.today{
    color: #fff;
}




