<div class="" style="margin-top: 20px;" :controller="field">

  <p>
    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> 添加字段</button>
    &nbsp;
    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> 修改字段</button>
    &nbsp;
    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i> 删除字段</button>
  </p>

  <table class="table table-hover">
    <thead>
    <tr>
      <th><input type="checkbox"/></th>
      <th>代码</th>
      <th>名称</th>
      <th>数据类型</th>
      <th>控件类型</th>
      <th>是否必填</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="checkbox"/></td>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>是</td>
    </tr>

    </tbody>
  </table>

</div>